@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

html, body {
	margin: 0;
	padding: 0;
}

body {
	background-color: #ECE8D9;
	color: #1a1c1f;
	font-family: Roboto;
}

/* JOBS PAGE */

.cont {
	width: 95%;
	margin-left: auto;
	margin-right: auto;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	
}

.title {
	font-size: 40px;
	font-weight: 500;
	margin-bottom: 0.4em;
}

.subtitle {
	font-size: 1.5em;
	font-weight: 500;
	margin-bottom: 0.4em;
}

.hidden{
	display:hidden
}

.form{
	display: block;
	background-color: #ffffff;
	width: 40%;
	height:80%;
	font-size:60px;
	border-radius: 30px;
	margin: 0 auto;
	margin-top: 5%;
	padding-bottom: 50px;
	margin-bottom: 5%;
}

.label{
	font-size: 25px;
	padding-left: 30px;
	
}

input{
	border: black solid 1px;
}

select{
	border: black solid 1px;
}

.center{
    display: block;
    text-align: center;
    line-height: 150%;
    font-size: .85em;
}

.inputtitle{
	margin-left: auto;
	margin-right: auto;
	display: block;
	width: 90%;
	height: 40px;
}

.inputdiscription{
	margin-left: auto;
	margin-right: auto;
	display: block;
	width: 90%;
	height: 120px;
}

.petType{
	font-size: 30px;
	margin-left: auto;
	margin-right: auto;
	display: block;
	width: 90%;
	height: 35px;
}

.inputImage{
	display:none;
}


.inputImageLabel{
	box-sizing: border-box;
	display: block;
	text-align: center;
	font-size: 25px;
	border:4px solid black;
	margin-left: auto;
	margin-right: auto;
	margin-top: 70px;
	max-width: 80%;
}
.inputImageLabel:hover{
	cursor: pointer;
}

.datetimeSelection{
	display:inline-flex;
		
}

.Budget{
	display:inline-flex;
	width: 60px;
		
}

.submit{
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 40px;
}
