@import "reset.css";

/* #region          Global Stylings/Classes*/
    body
    {
        /*Free Google Font*/
        font-family: 'Zen Kaku Gothic Antique';
        background-color: #ECE8D9;
    }

    /*Removes the underline from all hyperlinks*/
    a
    {
        text-decoration: none;
    }

    /*Makes hyperlink text darken when hovered over*/
    a:hover
    {
        color: #9e9e9e;
        transition: 0.5s;
    }

    /*Makes a list inline*/
    .inlineList li
    {
        display: inline;    /*Puts all the list items on one line*/
        padding: 0em 0.5em;       /*Pads out between list items*/
    }

/* #endregion */

/* #region          Floating/Containers*/
    /*Containers that hold stuff are able to compensate for floats*/
    .container
    {
        overflow: auto;
    }

    .floatLeft
    {
        float: left;
    }

    .floatRight
    {
        float: right;
    }

/* #endregion */

/* #region          Text Modifiers*/
    .bold
    {
        font-weight: bold;
    }

    .italic
    {
        font-style: italic;
    }

    .text-white
    {
        color: white;
    }

/* #endregion */

/* #region          Background Modifiers*/
    .background-white
    {
        background-color: white;
    }

    /*This is used for the header and footer*/
    .background-tundora
    {
        background-color: #494949;
    }
/* #endregion*/

/* #region          Header 1-6 Font size applying*/
    .h1
    {
        font-size: 2em;
    }

    .h2
    {
        font-size: 1.5em;
    }

    .h3
    {
        font-size: 1.17em;
    }

    .h4
    {
        font-size: 1em;
    }

    .h5
    {
        font-size: 0.83em;
    }

    .h6
    {
        font-size: 0.67em;
    }

/* #endregion */

/* #region          Margin and Padding Classes*/
    .navMargin
    {
        margin-top: 0.4em;
    }


    .p-1
    {
        padding: 1em;
    }

/* #endregion */


/* Vertical Line*/
.vertical{
    border: 1px solid black;
    height: auto;
}








/* Stuff thats specific is down here  */

/* #region          Header */
    header{
        top: 0;                     /* https://codereview.stackexchange.com/questions/224880/using-flexbox-to-replace-fixed-and-absolute-positioning */
        width: 100%;
    }

    #headerIcon{
        height: 2em;
        width: 2em;
        margin-left: 1em;
    }
/* #endregion */

/* #region          Homebox shown to Guests*/       

    .homeBoxWrapper{
        background-image: url('../Images/indexPhotos/homeBoxPhotos/homeImage.jpg');
        background-size: cover;
        padding: 5em 0em; 
    }

    .homeBoxWrapper img{
        display: block;
        margin: 0 auto;
        padding-top: 1em;
    }



    .homeBox{
        background-color: white;
        border-radius: 1em;
        padding: 2em;
        
        /* Centers the div */
        width: 70%;
        margin: auto;

        /* Centers the text and buttons */
        text-align: center;
    }

    .homeBox hr{
        background-color: black;
        height: 10px;
        margin: 1em 0em;
    }

    .homeBox button{
        background-color: #e6e6e6;
        padding: 1em 2em;
        border-radius: 1em;
        transition-duration: 0.5s;
    }

    .homeBox button:hover{
        background-color: #FAF6E9;
    }

    .radio-group input[type="radio"] {
        display: none; /* hide the default radio buttons */
      }
      
      .radio-group label {
        display: inline-block;
        padding: 10px;
        border: 2px solid #ccc;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s ease;
      }

      .radio-group label:hover {
        background-color: rgb(141, 124, 92);
      }
      
      .radio-group input[type="radio"]:checked + label {
        background-color: rgb(128, 83, 0);
        color: white;
      }

      input[type="text"], input[type="email"], input[type="password"], input[type="tel"] {
        width: 100%;
        max-width: 400px;
        padding: 10px;
        border-radius: 20px;
        border: none;
        background-color: #f2f2f2;
        margin-bottom: 10px;
        box-sizing: border-box;
        font-size: 16px;
      }

      

    



/*#endregion*/

/* #region          How it Works Section*/

    
    .howItWorksWrapper{
        /* background-color: red; */
        background-color: white;
        border-radius: 1em;
        text-align: center;
        margin: 2.5em 5em; /* Top-Down, Left-Right */
    }

    /* The wrapper for the columns that contain the steps*/
    .howItWorksWrapper .columnWrapper{
        /* background-color: orange; */
        display: flex;
        flex-direction: row;

        padding-bottom: 1em;
    }

    /* The 3 columns that are flex containers themselves */
    .howItWorksWrapper .column{
        flex: 33.33%;
        /* background-color: yellow; */
        margin: 1em;

        /* This makes the columns flex containers */
        display: flex;
        flex-direction: row;
    }

    /* The space that holds the icon*/
    .howItWorksWrapper .column .icon{
        /* background-color: greenyellow; */
        flex: 20%;
    }

    /* The image itself */
    .howItWorksWrapper .column .icon img{
        width: 3em;
        height: 3em;

        background-color: wheat;
        border-radius: 1em;
        padding: 0.5em;
    }

    /* The space that holds the text */
    .howItWorksWrapper .column .text{
        /* background-color: blue; */
        flex: 80%;
        padding: 1em;
    }

/* #endregion */

/* #region          Testimonies Section*/

    /* The wrapper for the entire section */
    .testimoniesWrapper{
        /* background-color: red; */
        background-color: white;
        border-radius: 1em;
        margin: 2.5em 5em; /* Top-Down, Left-Right */
        text-align: center;
    }

    /* The wrapper that contains the testimonies, it stacks them in columns */
    .testimoniesWrapper .columnWrapper{
        /* background-color: orange; */
        display: flex;
        flex-direction: column;
    }

    /* The space for the individual testimony, Photo + Review */
    .testimoniesWrapper .testimony{
        /* background-color: yellow; */
        display: flex;
        flex-direction: row;

        margin: 1em;
    }

    /* The space the image resides in */
    .testimoniesWrapper .testimony .headshot{
        /* background-color: greenyellow; */
        flex: 5%;

        margin: 1em;
    }

    /* The image itself */
    .testimoniesWrapper .testimony .headshot img{
        width: 5em;
        height: 5em;

        border-radius: 50%;
    }

    /* The space the text resides in */
    .testimoniesWrapper .testimony .review{
        /* background-color: aquamarine; */
        flex: 95%;

        text-align: left;
        margin: 1em;

        font-size: larger;
    }

/* #endregion */

/* #region          Services Section*/

/* Contains the entire Section*/
.servicesWrapper{
    background-color: white;
    border-radius: 1em;
    margin: 2.5em 5em; /* Top-Down, Left-Right */
}

/* Contains the 2 columns split 50/50*/
.servicesWrapper .columnWrapper{
    /* background-color: orange; */
    display: flex;
    flex-direction: row;
}

/* The individual columns*/
.servicesWrapper .column{
    /* background-color: yellow; */
    flex: 50%;
    margin: 1em;
}

/* The sections within the columns that contain service info*/
.servicesWrapper .serviceInfo{
    /* background-color: greenyellow; */
    display: flex;
    flex-direction: row;

    margin: 1em;
}

/* The space for the icon inside the service info section*/
.servicesWrapper .serviceInfo .icon{
    /* background-color: aquamarine; */
    flex: 10%;

    margin-right: 1em;
}

/* The icon itself*/
.servicesWrapper .serviceInfo .icon img{
    width: 5em;
    height: 5em;
}

/* The space for the service description within the service info section*/
.servicesWrapper .serviceInfo .description{
    /* background-color: lavender; */
    flex: 90%;
}



.servicesWrapper .whyChooseUs{
    /* background-color: darkolivegreen; */
    margin: 1em;
}




