.content{
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.div{
    display: block;
}

.h1{
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 0.4em;
}

.h2{
    font-size: 1.5em;
    font-weight: 100;
    margin-bottom: 0.4em;
}

*{
    margin: 0;
    border: 0;
    padding: 0;
    font-size: 100%;
    font-weight: normal;
    font-style: normal;
    vertical-align: baseline;
}

.job-detail-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 2em;
    background-color: #FAF6E9;
    border-radius: 15px;
    width: 80%;
}

.job-details{
    display: flex;
    flex-direction: column;
}

.pet-image-bigger {
    height: 300px;
    border-radius: 15px;
}

.job-title {
    color: #494949;
    font-weight: 900;
    font-size: 2em;
    margin-top: 0;
    margin-bottom: 0.6em;
}